.posts {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 2rem;

  article {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    h3 {
      font-size: 1.75rem;
      font-weight: 700;
    }
    p {
      font-size: 1.125rem;
      font-weight: 400;
      color: var(--body);
    }
  }
}

.btnMorePosts {
  width: max-content;
  border: none;
  background: none;
  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 2rem 0;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
